# Django
DJANGO_SECRET_KEY=your_data

# Database
POSTGRES_USER=your_data
POSTGRES_PASSWORD=your_data
POSTGRES_DB=your_data
POSTGRES_HOST=your_data
POSTGRES_PORT=your_data
PGDATA=your_data

# Telegram
TELEGRAM_BOT_TOKEN=your_data
TELEGRAM_CHAT_ID=your_data